<%- include('partials/header'); -%>

<div class="loginBody">
  <form class="loginForm" action="/login">
    <h1>Existing User?</h1>
    <input class="login" type="email" name="username" placeholder="Username" />

    <input
      class="login"
      type="password"
      name="password"
      placeholder="Password"
    />
    <button type="submit">Login</button>
    <p>
        If you are a new user, you can register
        <a href="/register">here.</a>
  </form>
  
  </p>
</div>
