<%- include('partials/header'); -%>

<div class="loginBody">
  <form class="loginForm" action="/login">
    <h1>New User?</h1>
    <input class="login" type="email" name="username" placeholder="Username" />

    <input
      class="login"
      type="password"
      name="password"
      placeholder="Password"
    />
    <button type="submit">Register</button>
  </form>
</div>
