@font-face {
  font-family: Charrington;
  src: url(/fonts/Charrington-wdx.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

header {
  width: 100vw;
  height: 15vh;
  background-color: #7ed3b2;
}

.logo {
  margin-top: 3vh;
  margin-left: 4.5vw;
  width: 10rem;
}

body {
  background-color: #f2f2f2;
}

.box {
  text-align: center;
  max-width: 50vw;
  margin: 0 auto;
  margin-bottom: 20vh;
}

.date {
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  margin-left: 5vw;
  font-family: Charrington;
  text-transform: uppercase;
  font-size: larger;
  letter-spacing: 2px;
}

h2 {
  margin-top: 2.5vh;
  margin-left: 5vw;
  font-family: Charrington;
  text-transform: uppercase;
  font-size: larger;
  letter-spacing: 2px;
  color: black;
}

h1 {
  margin-top: 10vh;
  font-family: Charrington;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.lists {
  text-align: left;
  margin-top: 2.5vh;
  margin-left: 7.5vw;
  margin-bottom: 5vh;
  font-family: Charrington;
  text-transform: lowercase;
  font-size: larger;
  letter-spacing: 2px;
  list-style-position: inside;
}

.lists li {
  padding-top: 10px;
}

input {
  padding: 15px;
  width: 18vw;
  border: none;
  background-color: #ef6b5745;
  border-radius: 5rem;
  font-family: Charrington;
}

.text {
  margin-top: 2.5vh;
  margin-bottom: 5vh;
  font-family: Charrington;
  text-transform: lowercase;
  font-size: larger;
  letter-spacing: 2px;
}

button {
  width: 2.75rem;
  height: 2.75rem;
  margin-left: 1vw;
  background-color: #ef6c57;
  color: white;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  text-transform: lowercase;
  font-family: Charrington;
  font-size: 2rem;
}

textarea {
  padding: 5px 5px;
  position: inline;
  max-width: 18vw;
  max-height: 10vh;
  border: none;
  background-color: #ef6b5745;
  border-radius: 0.5rem;
  font-family: Charrington;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.hidden {
  display: none;
}
